:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  padding: 40px;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.form {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.grid-item {
  text-align: center;
}

body {
  background-color: #2e3440;
  color: #d8dee9;

  font-family: 'Open Sans', sans-serif;
}

#color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 90px;
  height: 55px;
  border: none;
  cursor: pointer;
  background-color: #2e3440;
}

#color::-webkit-color-swatch {
  border-radius: 25px;
}

.text {
  width: 50px;
  text-align: center;
  border-radius: 25px;
  border-style: solid;
  border-color: #8fbcbb;
  border-width: 5px;
  background-color: #d8dee9;
  padding: 10px;
}

button {
  border-radius: 100px;
  font-weight: 600;
  color: #2e3440;
  aspect-ratio: 1;
  width: 100px;
  border-style: solid;
  border-color: #8fbcbb;
  border-width: 10px;
  background-color: #d8dee9;
}

hr {
  width: 600px;
  height: 5px;
  background-color: #d8dee9;
  border-radius: 50px;
}

.checkContainer {
  display: block;
  position: relative;

  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;

  height: 25px;
  width: 25px;
  background-color: #d8dee9;
  border-radius: 50%;
}

.checkContainer:hover input~.checkmark {
  background-color: #ccc;
}

.checkContainer input:checked~.checkmark {
  background-color: #8fbcbb;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.checkContainer input:checked~.checkmark:after {
  display: block;
}

.checkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #d8dee9;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}